.App {
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background: linear-gradient(
    45deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
  );
}
